

.sidebar{
    position: absolute;
    top: 3rem;
    width: 100%;
    height: 100vh;
    background: tomato;
    transition: left .3s ease;

}


.sidebar-visible{
    left: 0;
}

.sidebar-novisible{
    left: -100%;
}